.headerWrap{
    height: 3vh;
}
.mainContent{
    height: 97vh;
    display: flex;
}
.mainTextWrap{
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
}
.mainImageWrap{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}